@page
@model WebAppSuporteIA.Pages.RegisterModel
@{
    ViewData["Title"] = "Cadastro - HELP FAST";
    Layout = "_LoginLayout";
}

<div class="login-container">
    <div class="login-card">
        <!-- Logo HELP FAST -->
        <div class="logo-container">
            <div class="logo-text">
                <span class="logo-help">HELP</span>
                <span class="logo-fast">FAST</span>
            </div>
            <div class="logo-icon">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z" fill="white"/>
                </svg>
            </div>
        </div>

        <!-- Formulário de Cadastro -->
        <form method="post" class="login-form">
            <div class="form-group">
                <label for="Name" class="form-label">Nome Completo</label>
                <div class="input-container">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Digite seu nome completo" />
                    <div class="input-icon">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z" fill="#666"/>
                        </svg>
                    </div>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Email" class="form-label">E-mail</label>
                <div class="input-container">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Digite seu e-mail" />
                    <div class="input-icon">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" fill="#666"/>
                        </svg>
                    </div>
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Phone" class="form-label">Telefone</label>
                <div class="input-container">
                    <input asp-for="Phone" type="tel" class="form-control" placeholder="Digite seu telefone" />
                    <div class="input-icon">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z" fill="#666"/>
                        </svg>
                    </div>
                </div>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="Password" class="form-label">Senha</label>
                <div class="input-container">
                    <input asp-for="Password" type="password" class="form-control" placeholder="Digite sua senha" />
                    <div class="input-icon">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" fill="#666"/>
                        </svg>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label for="ConfirmPassword" class="form-label">Confirmar Senha</label>
                <div class="input-container">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirme sua senha" />
                    <div class="input-icon">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" fill="#666"/>
                        </svg>
                    </div>
                </div>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-login">Cadastrar</button>
                <div class="separator">OU</div>
                <button type="button" class="btn btn-register" onclick="window.location.href='/Login'">Fazer Login</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
